*.jou
*.log
*.backup
/**/edk/*
!/**/edk/axi_subdesign.xmp
!/**/edk/axi_subdesign.mhs
/**/prj/*
/**/prg/*
!/**/prg/*.mcs

/**/src/async_fifo_x64/*
!/**/src/async_fifo_x64/async_fifo_x64.xci



/**/tcl/*
!/**/tcl/build_project.tcl
!/**/tcl/build_win.bat
