INST "hmcad_x4_block_inst/adc_block_gen[3].adc0_inst" AREA_GROUP = "pblock_adc_blck_gn[3].adc0_inst";
AREA_GROUP "pblock_adc_blck_gn[3].adc0_inst" RANGE=SLICE_X8Y32:SLICE_X15Y46;
NET "vic_pulse" LOC = T15;
NET "spifi_sck" IOSTANDARD = LVCMOS33;
NET "spifi_sio[2]" IOSTANDARD = LVCMOS33;
NET "i2c_sda" IOSTANDARD = LVCMOS33;
NET "spifi_sio[1]" IOSTANDARD = LVCMOS33;
NET "spifi_sio[0]" IOSTANDARD = LVCMOS33;
NET "dd[5]" IOSTANDARD = LVCMOS33;
NET "dd[7]" IOSTANDARD = LVCMOS33;
NET "dd[3]" IOSTANDARD = LVCMOS33;
NET "spifi_cs" IOSTANDARD = LVCMOS33;
NET "dd[1]" IOSTANDARD = LVCMOS33;
NET "dd[2]" IOSTANDARD = LVCMOS33;
NET "dd[4]" IOSTANDARD = LVCMOS33;
NET "dd[0]" IOSTANDARD = LVCMOS33;
NET "dd[6]" IOSTANDARD = LVCMOS33;
NET "clk_dd" IOSTANDARD = LVCMOS33;
NET "int_adcx[2]" IOSTANDARD = LVCMOS33;
NET "int_adcx[1]" IOSTANDARD = LVCMOS33;
NET "int_adcx[0]" IOSTANDARD = LVCMOS33;
NET "cs_dd" IOSTANDARD = LVCMOS33;
NET "pulse_p" IOSTANDARD = LVCMOS33;
NET "pulse_n" IOSTANDARD = LVCMOS33;
NET "i2c_scl" DRIVE = 12;
NET "spifi_sck" DRIVE = 12;
NET "spifi_sio[3]" DRIVE = 12;
NET "spifi_sio[2]" DRIVE = 12;
NET "i2c_sda" DRIVE = 12;
NET "spifi_sio[1]" DRIVE = 12;
NET "spifi_sio[0]" DRIVE = 12;
NET "dd[5]" DRIVE = 12;
NET "dd[7]" DRIVE = 12;
NET "dd[3]" DRIVE = 12;
NET "spifi_cs" DRIVE = 12;
NET "dd[1]" DRIVE = 12;
NET "dd[2]" DRIVE = 12;
NET "fpga_sck" DRIVE = 12;
NET "fpga_miso" DRIVE = 12;
NET "dd[4]" DRIVE = 12;
NET "fpga_mosi" DRIVE = 12;
NET "fpga_cs" DRIVE = 12;
NET "int_adcx[3]" DRIVE = 12;
NET "dd[0]" DRIVE = 12;
NET "dd[6]" DRIVE = 12;
NET "clk_dd" DRIVE = 12;
NET "int_adcx[2]" DRIVE = 12;
NET "int_adcx[1]" DRIVE = 12;
NET "int_adcx[0]" DRIVE = 12;
NET "cs_dd" DRIVE = 12;
NET "i2c_scl" SLEW = SLOW;
NET "spifi_sck" SLEW = SLOW;
NET "spifi_sio[3]" SLEW = SLOW;
NET "spifi_sio[2]" SLEW = SLOW;
NET "i2c_sda" SLEW = SLOW;
NET "spifi_sio[1]" SLEW = SLOW;
NET "spifi_sio[0]" SLEW = SLOW;
NET "dd[5]" SLEW = SLOW;
NET "dd[7]" SLEW = SLOW;
NET "dd[3]" SLEW = SLOW;
NET "spifi_cs" SLEW = SLOW;
NET "dd[1]" SLEW = SLOW;
NET "dd[2]" SLEW = SLOW;
NET "fpga_sck" SLEW = SLOW;
NET "fpga_miso" SLEW = SLOW;
NET "dd[4]" SLEW = SLOW;
NET "fpga_mosi" SLEW = SLOW;
NET "fpga_cs" SLEW = SLOW;
NET "int_adcx[3]" SLEW = SLOW;
NET "dd[0]" SLEW = SLOW;
NET "dd[6]" SLEW = SLOW;
NET "clk_dd" SLEW = SLOW;
NET "pulse_n" SLEW = SLOW;
NET "int_adcx[2]" SLEW = SLOW;
NET "int_adcx[1]" SLEW = SLOW;
NET "int_adcx[0]" SLEW = SLOW;
NET "cs_dd" SLEW = SLOW;
NET "spifi_sio[3]" IOSTANDARD = LVCMOS33;
NET "i2c_scl" IOSTANDARD = LVCMOS33;
NET "int_adcx[3]" IOSTANDARD = LVCMOS33;
##########################################################################
##  Clock pin inst
##########################################################################
NET "in_clk_50MHz" LOC = N8;
NET "in_clk_50MHz" IOSTANDARD = LVCMOS33;

##NET "Clock_gen_inst/clk_out_250MHz" TNM_NET = "clk250";
##TIMESPEC TS_clk250 = PERIOD "clk250" 4 ns HIGH 50 %;

NET "Clock_gen_inst/clk_out_125MHz" TNM_NET = "clk125";
TIMESPEC TS_clk125 = PERIOD "clk125" 8 ns HIGH 50 %;

##########################################################################
## Reset pin inst
##########################################################################
NET "xc_sys_rstn" LOC = P8;
NET "xc_sys_rstn" IOSTANDARD = LVCMOS33;

##########################################################################
## ADC 0
##########################################################################
NET "adc0_lclk_p" LOC = J11;
NET "adc0_lclk_p" IOSTANDARD = LVDS_25;
NET "adc0_lclk_p" DIFF_TERM = "TRUE";
NET "adc0_lclk_n" LOC = J12;
NET "adc0_lclk_n" IOSTANDARD = LVDS_25;
NET "adc0_lclk_n" DIFF_TERM = "TRUE";

NET "hmcad_x4_block_inst/adc_block_gen[0].adc0_inst/serdes_1_to_n_clk_ddr_s8_diff_inst/rx_bufg_x1" TNM_NET = "lck0_div8";
TIMESPEC TS_lck0_div8 = PERIOD "lck0_div8" 8 ns HIGH 50 %;

NET "adc0_fclk_p" LOC = J13;
NET "adc0_fclk_p" IOSTANDARD = LVDS_25;
NET "adc0_fclk_p" DIFF_TERM = "TRUE";
NET "adc0_fclk_n" LOC = K14;
NET "adc0_fclk_n" IOSTANDARD = LVDS_25;
NET "adc0_fclk_n" DIFF_TERM = "TRUE";

NET "adc0_dx_a_p[0]" LOC = B15;
NET "adc0_dx_a_p[0]" IOSTANDARD = LVDS_25;
NET "adc0_dx_a_p[0]" DIFF_TERM = "TRUE";
NET "adc0_dx_a_n[0]" LOC = B16;
NET "adc0_dx_a_n[0]" IOSTANDARD = LVDS_25;
NET "adc0_dx_a_n[0]" DIFF_TERM = "TRUE";

NET "adc0_dx_b_p[0]" LOC = C15;
NET "adc0_dx_b_p[0]" IOSTANDARD = LVDS_25;
NET "adc0_dx_b_p[0]" DIFF_TERM = "TRUE";
NET "adc0_dx_b_n[0]" LOC = C16;
NET "adc0_dx_b_n[0]" IOSTANDARD = LVDS_25;
NET "adc0_dx_b_n[0]" DIFF_TERM = "TRUE";

NET "adc0_dx_a_p[1]" LOC = D14;
NET "adc0_dx_a_p[1]" IOSTANDARD = LVDS_25;
NET "adc0_dx_a_p[1]" DIFF_TERM = "TRUE";
NET "adc0_dx_a_n[1]" LOC = D16;
NET "adc0_dx_a_n[1]" IOSTANDARD = LVDS_25;
NET "adc0_dx_a_n[1]" DIFF_TERM = "TRUE";

NET "adc0_dx_b_p[1]" LOC = E13;
NET "adc0_dx_b_p[1]" IOSTANDARD = LVDS_25;
NET "adc0_dx_b_p[1]" DIFF_TERM = "TRUE";
NET "adc0_dx_b_n[1]" LOC = E12;
NET "adc0_dx_b_n[1]" IOSTANDARD = LVDS_25;
NET "adc0_dx_b_n[1]" DIFF_TERM = "TRUE";

NET "adc0_dx_a_p[2]" LOC = F13;
NET "adc0_dx_a_p[2]" IOSTANDARD = LVDS_25;
NET "adc0_dx_a_p[2]" DIFF_TERM = "TRUE";
NET "adc0_dx_a_n[2]" LOC = F14;
NET "adc0_dx_a_n[2]" IOSTANDARD = LVDS_25;
NET "adc0_dx_a_n[2]" DIFF_TERM = "TRUE";

NET "adc0_dx_b_p[2]" LOC = F15;
NET "adc0_dx_b_p[2]" IOSTANDARD = LVDS_25;
NET "adc0_dx_b_p[2]" DIFF_TERM = "TRUE";
NET "adc0_dx_b_n[2]" LOC = F16;
NET "adc0_dx_b_n[2]" IOSTANDARD = LVDS_25;
NET "adc0_dx_b_n[2]" DIFF_TERM = "TRUE";

NET "adc0_dx_a_p[3]" LOC = G14;
NET "adc0_dx_a_p[3]" IOSTANDARD = LVDS_25;
NET "adc0_dx_a_p[3]" DIFF_TERM = "TRUE";
NET "adc0_dx_a_n[3]" LOC = G16;
NET "adc0_dx_a_n[3]" IOSTANDARD = LVDS_25;
NET "adc0_dx_a_n[3]" DIFF_TERM = "TRUE";

NET "adc0_dx_b_p[3]" LOC = H15;
NET "adc0_dx_b_p[3]" IOSTANDARD = LVDS_25;
NET "adc0_dx_b_p[3]" DIFF_TERM = "TRUE";
NET "adc0_dx_b_n[3]" LOC = H16;
NET "adc0_dx_b_n[3]" IOSTANDARD = LVDS_25;
NET "adc0_dx_b_n[3]" DIFF_TERM = "TRUE";

##########################################################################
## ADC 1
##########################################################################
NET "adc1_lclk_p" LOC = J14;
NET "adc1_lclk_p" IOSTANDARD = LVDS_25;
NET "adc1_lclk_p" DIFF_TERM = "TRUE";
NET "adc1_lclk_n" LOC = J16;
NET "adc1_lclk_n" IOSTANDARD = LVDS_25;
NET "adc1_lclk_n" DIFF_TERM = "TRUE";

NET "hmcad_x4_block_inst/adc_block_gen[1].adc0_inst/serdes_1_to_n_clk_ddr_s8_diff_inst/rx_bufg_x1" TNM_NET = "lck1_div8";
TIMESPEC TS_lck1_div8 = PERIOD "lck1_div8" 8 ns HIGH 50 %;

NET "adc1_fclk_p" LOC = K12;
NET "adc1_fclk_p" IOSTANDARD = LVDS_25;
NET "adc1_fclk_p" DIFF_TERM = "TRUE";
NET "adc1_fclk_n" LOC = K11;
NET "adc1_fclk_n" IOSTANDARD = LVDS_25;
NET "adc1_fclk_n" DIFF_TERM = "TRUE";

NET "adc1_dx_a_p[0]" LOC = K15;
NET "adc1_dx_a_p[0]" IOSTANDARD = LVDS_25;
NET "adc1_dx_a_p[0]" DIFF_TERM = "TRUE";
NET "adc1_dx_a_n[0]" LOC = K16;
NET "adc1_dx_a_n[0]" IOSTANDARD = LVDS_25;
NET "adc1_dx_a_n[0]" DIFF_TERM = "TRUE";

NET "adc1_dx_b_p[0]" LOC = L14;
NET "adc1_dx_b_p[0]" IOSTANDARD = LVDS_25;
NET "adc1_dx_b_p[0]" DIFF_TERM = "TRUE";
NET "adc1_dx_b_n[0]" LOC = L16;
NET "adc1_dx_b_n[0]" IOSTANDARD = LVDS_25;
NET "adc1_dx_b_n[0]" DIFF_TERM = "TRUE";

NET "adc1_dx_a_p[1]" LOC = M13;
NET "adc1_dx_a_p[1]" IOSTANDARD = LVDS_25;
NET "adc1_dx_a_p[1]" DIFF_TERM = "TRUE";
NET "adc1_dx_a_n[1]" LOC = M14;
NET "adc1_dx_a_n[1]" IOSTANDARD = LVDS_25;
NET "adc1_dx_a_n[1]" DIFF_TERM = "TRUE";

NET "adc1_dx_b_p[1]" LOC = M15;
NET "adc1_dx_b_p[1]" IOSTANDARD = LVDS_25;
NET "adc1_dx_b_p[1]" DIFF_TERM = "TRUE";
NET "adc1_dx_b_n[1]" LOC = M16;
NET "adc1_dx_b_n[1]" IOSTANDARD = LVDS_25;
NET "adc1_dx_b_n[1]" DIFF_TERM = "TRUE";

NET "adc1_dx_a_p[2]" LOC = N14;
NET "adc1_dx_a_p[2]" IOSTANDARD = LVDS_25;
NET "adc1_dx_a_p[2]" DIFF_TERM = "TRUE";
NET "adc1_dx_a_n[2]" LOC = N16;
NET "adc1_dx_a_n[2]" IOSTANDARD = LVDS_25;
NET "adc1_dx_a_n[2]" DIFF_TERM = "TRUE";

NET "adc1_dx_b_p[2]" LOC = P15;
NET "adc1_dx_b_p[2]" IOSTANDARD = LVDS_25;
NET "adc1_dx_b_p[2]" DIFF_TERM = "TRUE";
NET "adc1_dx_b_n[2]" LOC = P16;
NET "adc1_dx_b_n[2]" IOSTANDARD = LVDS_25;
NET "adc1_dx_b_n[2]" DIFF_TERM = "TRUE";

NET "adc1_dx_a_p[3]" LOC = R15;
NET "adc1_dx_a_p[3]" IOSTANDARD = LVDS_25;
NET "adc1_dx_a_p[3]" DIFF_TERM = "TRUE";
NET "adc1_dx_a_n[3]" LOC = R16;
NET "adc1_dx_a_n[3]" IOSTANDARD = LVDS_25;
NET "adc1_dx_a_n[3]" DIFF_TERM = "TRUE";

NET "adc1_dx_b_p[3]" LOC = T14;
NET "adc1_dx_b_p[3]" IOSTANDARD = LVDS_25;
NET "adc1_dx_b_p[3]" DIFF_TERM = "TRUE";
NET "adc1_dx_b_n[3]" LOC = T13;
NET "adc1_dx_b_n[3]" IOSTANDARD = LVDS_25;
NET "adc1_dx_b_n[3]" DIFF_TERM = "TRUE";

##########################################################################
## ADC 2
##########################################################################
NET "adc2_lclk_p" LOC = K3;
NET "adc2_lclk_p" IOSTANDARD = LVDS_25;
NET "adc2_lclk_p" DIFF_TERM = "TRUE";
NET "adc2_lclk_n" LOC = J4;
NET "adc2_lclk_n" IOSTANDARD = LVDS_25;
NET "adc2_lclk_n" DIFF_TERM = "TRUE";

NET "hmcad_x4_block_inst/adc_block_gen[2].adc0_inst/serdes_1_to_n_clk_ddr_s8_diff_inst/rx_bufg_x1" TNM_NET = "lck2_div8";
TIMESPEC TS_lck2_div8 = PERIOD "lck2_div8" 8 ns HIGH 50 %;

NET "adc2_fclk_p" LOC = F2;
NET "adc2_fclk_p" IOSTANDARD = LVDS_25;
NET "adc2_fclk_p" DIFF_TERM = "TRUE";
NET "adc2_fclk_n" LOC = F1;
NET "adc2_fclk_n" IOSTANDARD = LVDS_25;
NET "adc2_fclk_n" DIFF_TERM = "TRUE";

NET "adc2_dx_a_p[0]" LOC = R2;
NET "adc2_dx_a_p[0]" IOSTANDARD = LVDS_25;
NET "adc2_dx_a_p[0]" DIFF_TERM = "TRUE";
NET "adc2_dx_a_n[0]" LOC = R1;
NET "adc2_dx_a_n[0]" IOSTANDARD = LVDS_25;
NET "adc2_dx_a_n[0]" DIFF_TERM = "TRUE";

NET "adc2_dx_b_p[0]" LOC = P2;
NET "adc2_dx_b_p[0]" IOSTANDARD = LVDS_25;
NET "adc2_dx_b_p[0]" DIFF_TERM = "TRUE";
NET "adc2_dx_b_n[0]" LOC = P1;
NET "adc2_dx_b_n[0]" IOSTANDARD = LVDS_25;
NET "adc2_dx_b_n[0]" DIFF_TERM = "TRUE";

NET "adc2_dx_a_p[1]" LOC = N3;
NET "adc2_dx_a_p[1]" IOSTANDARD = LVDS_25;
NET "adc2_dx_a_p[1]" DIFF_TERM = "TRUE";
NET "adc2_dx_a_n[1]" LOC = N1;
NET "adc2_dx_a_n[1]" IOSTANDARD = LVDS_25;
NET "adc2_dx_a_n[1]" DIFF_TERM = "TRUE";

NET "adc2_dx_b_p[1]" LOC = M2;
NET "adc2_dx_b_p[1]" IOSTANDARD = LVDS_25;
NET "adc2_dx_b_p[1]" DIFF_TERM = "TRUE";
NET "adc2_dx_b_n[1]" LOC = M1;
NET "adc2_dx_b_n[1]" IOSTANDARD = LVDS_25;
NET "adc2_dx_b_n[1]" DIFF_TERM = "TRUE";

NET "adc2_dx_a_p[2]" LOC = K2;
NET "adc2_dx_a_p[2]" IOSTANDARD = LVDS_25;
NET "adc2_dx_a_p[2]" DIFF_TERM = "TRUE";
NET "adc2_dx_a_n[2]" LOC = K1;
NET "adc2_dx_a_n[2]" IOSTANDARD = LVDS_25;
NET "adc2_dx_a_n[2]" DIFF_TERM = "TRUE";

NET "adc2_dx_b_p[2]" LOC = J3;
NET "adc2_dx_b_p[2]" IOSTANDARD = LVDS_25;
NET "adc2_dx_b_p[2]" DIFF_TERM = "TRUE";
NET "adc2_dx_b_n[2]" LOC = J1;
NET "adc2_dx_b_n[2]" IOSTANDARD = LVDS_25;
NET "adc2_dx_b_n[2]" DIFF_TERM = "TRUE";

NET "adc2_dx_a_p[3]" LOC = H2;
NET "adc2_dx_a_p[3]" IOSTANDARD = LVDS_25;
NET "adc2_dx_a_p[3]" DIFF_TERM = "TRUE";
NET "adc2_dx_a_n[3]" LOC = H1;
NET "adc2_dx_a_n[3]" IOSTANDARD = LVDS_25;
NET "adc2_dx_a_n[3]" DIFF_TERM = "TRUE";

NET "adc2_dx_b_p[3]" LOC = G3;
NET "adc2_dx_b_p[3]" IOSTANDARD = LVDS_25;
NET "adc2_dx_b_p[3]" DIFF_TERM = "TRUE";
NET "adc2_dx_b_n[3]" LOC = G1;
NET "adc2_dx_b_n[3]" IOSTANDARD = LVDS_25;
NET "adc2_dx_b_n[3]" DIFF_TERM = "TRUE";

##########################################################################
## ADC 3
##########################################################################
NET "adc3_lclk_p" LOC = H4;
NET "adc3_lclk_p" IOSTANDARD = LVDS_25;
NET "adc3_lclk_p" DIFF_TERM = "TRUE";
NET "adc3_lclk_n" LOC = H3;
NET "adc3_lclk_n" IOSTANDARD = LVDS_25;
NET "adc3_lclk_n" DIFF_TERM = "TRUE";

NET "hmcad_x4_block_inst/adc_block_gen[3].adc0_inst/serdes_1_to_n_clk_ddr_s8_diff_inst/rx_bufg_x1" TNM_NET = "lck3_div8";
TIMESPEC TS_lck3_div8 = PERIOD "lck3_div8" 8 ns HIGH 50 %;

NET "adc3_fclk_p" LOC = J6;
NET "adc3_fclk_p" IOSTANDARD = LVDS_25;
NET "adc3_fclk_p" DIFF_TERM = "TRUE";
NET "adc3_fclk_n" LOC = H5;
NET "adc3_fclk_n" IOSTANDARD = LVDS_25;
NET "adc3_fclk_n" DIFF_TERM = "TRUE";

NET "adc3_dx_a_p[0]" LOC = L4;
NET "adc3_dx_a_p[0]" IOSTANDARD = LVDS_25;
NET "adc3_dx_a_p[0]" DIFF_TERM = "TRUE";
NET "adc3_dx_a_n[0]" LOC = L5;
NET "adc3_dx_a_n[0]" IOSTANDARD = LVDS_25;
NET "adc3_dx_a_n[0]" DIFF_TERM = "TRUE";

NET "adc3_dx_b_p[0]" LOC = E4;
NET "adc3_dx_b_p[0]" IOSTANDARD = LVDS_25;
NET "adc3_dx_b_p[0]" DIFF_TERM = "TRUE";
NET "adc3_dx_b_n[0]" LOC = E3;
NET "adc3_dx_b_n[0]" IOSTANDARD = LVDS_25;
NET "adc3_dx_b_n[0]" DIFF_TERM = "TRUE";

NET "adc3_dx_a_p[1]" LOC = E2;
NET "adc3_dx_a_p[1]" IOSTANDARD = LVDS_25;
NET "adc3_dx_a_p[1]" DIFF_TERM = "TRUE";
NET "adc3_dx_a_n[1]" LOC = E1;
NET "adc3_dx_a_n[1]" IOSTANDARD = LVDS_25;
NET "adc3_dx_a_n[1]" DIFF_TERM = "TRUE";

NET "adc3_dx_b_p[1]" LOC = D3;
NET "adc3_dx_b_p[1]" IOSTANDARD = LVDS_25;
NET "adc3_dx_b_p[1]" DIFF_TERM = "TRUE";
NET "adc3_dx_b_n[1]" LOC = D1;
NET "adc3_dx_b_n[1]" IOSTANDARD = LVDS_25;
NET "adc3_dx_b_n[1]" DIFF_TERM = "TRUE";

NET "adc3_dx_a_p[2]" LOC = C3;
NET "adc3_dx_a_p[2]" IOSTANDARD = LVDS_25;
NET "adc3_dx_a_p[2]" DIFF_TERM = "TRUE";
NET "adc3_dx_a_n[2]" LOC = C2;
NET "adc3_dx_a_n[2]" IOSTANDARD = LVDS_25;
NET "adc3_dx_a_n[2]" DIFF_TERM = "TRUE";

NET "adc3_dx_b_p[2]" LOC = C1;
NET "adc3_dx_b_p[2]" IOSTANDARD = LVDS_25;
NET "adc3_dx_b_p[2]" DIFF_TERM = "TRUE";
NET "adc3_dx_b_n[2]" LOC = B1;
NET "adc3_dx_b_n[2]" IOSTANDARD = LVDS_25;
NET "adc3_dx_b_n[2]" DIFF_TERM = "TRUE";

NET "adc3_dx_a_p[3]" LOC = B2;
NET "adc3_dx_a_p[3]" IOSTANDARD = LVDS_25;
NET "adc3_dx_a_p[3]" DIFF_TERM = "TRUE";
NET "adc3_dx_a_n[3]" LOC = A2;
NET "adc3_dx_a_n[3]" IOSTANDARD = LVDS_25;
NET "adc3_dx_a_n[3]" DIFF_TERM = "TRUE";

NET "adc3_dx_b_p[3]" LOC = B3;
NET "adc3_dx_b_p[3]" IOSTANDARD = LVDS_25;
NET "adc3_dx_b_p[3]" DIFF_TERM = "TRUE";
NET "adc3_dx_b_n[3]" LOC = A3;
NET "adc3_dx_b_n[3]" IOSTANDARD = LVDS_25;
NET "adc3_dx_b_n[3]" DIFF_TERM = "TRUE";

#############################################################################
## SPI
#############################################################################

NET "fpga_mosi" LOC = A9;
NET "fpga_mosi" IOSTANDARD = LVCMOS33;
NET "fpga_miso" LOC = A8;
NET "fpga_miso" IOSTANDARD = LVCMOS33;
NET "fpga_cs" LOC = B10;
NET "fpga_cs" IOSTANDARD = LVCMOS33;
NET "fpga_sck" LOC = B8;
NET "fpga_sck" IOSTANDARD = LVCMOS33;

###############################################################################
## QSPI
###############################################################################
NET "spifi_sck" LOC = A4;
NET "spifi_cs" LOC = A7;
NET "spifi_sio[3]" LOC = B5;
NET "spifi_sio[2]" LOC = A5;
NET "spifi_sio[1]" LOC = B6;
NET "spifi_sio[0]" LOC = A6;


NET "i2c_scl" LOC = C4;
NET "i2c_sda" LOC = D5;
NET "dd[5]" LOC = F7;
NET "dd[7]" LOC = E6;
NET "dd[3]" LOC = C7;
NET "dd[1]" LOC = D6;
NET "dd[2]" LOC = C6;
NET "dd[4]" LOC = C9;
NET "int_adcx[3]" LOC = A10;
NET "dd[0]" LOC = E7;
NET "dd[6]" LOC = E8;
NET "clk_dd" LOC = E10;
NET "int_adcx[2]" LOC = A11;
NET "int_adcx[1]" LOC = A12;
NET "int_adcx[0]" LOC = A13;
NET "cs_dd" LOC = D11;
NET "in_clk_20MHz" LOC = M9;
NET "pulse_n" LOC = C8;
NET "pulse_p" LOC = D8;

NET "spifi_sck" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "spifi_sck_bufg_BUFG.O" CLOCK_DEDICATED_ROUTE = FALSE;

NET "led" LOC = T8;

NET "fpga_sck" CLOCK_DEDICATED_ROUTE = FALSE;

INST "hmcad_x4_block_inst/adc_block_gen[0].adc0_inst" AREA_GROUP = "pblock_adc_blck_gn[0].adc0_inst";
AREA_GROUP "pblock_adc_blck_gn[0].adc0_inst" RANGE=SLICE_X22Y32:SLICE_X29Y46;
INST "hmcad_x4_block_inst/adc_block_gen[1].adc0_inst" AREA_GROUP = "pblock_adc_blck_gn[1].adc0_inst";
AREA_GROUP "pblock_adc_blck_gn[1].adc0_inst" RANGE=SLICE_X22Y17:SLICE_X29Y31;
INST "hmcad_x4_block_inst/adc_block_gen[2].adc0_inst" AREA_GROUP = "pblock_adc_blck_gn[2].adc0_inst";
AREA_GROUP "pblock_adc_blck_gn[2].adc0_inst" RANGE=SLICE_X8Y17:SLICE_X15Y31;
INST "hmcad_x4_block_inst/adc_block_gen[0].adc0_inst/data_recorder_inst/dpram_inst/Mram_ram2" LOC = RAMB16_X1Y18;
INST "hmcad_x4_block_inst/adc_block_gen[1].adc0_inst/data_recorder_inst/dpram_inst/Mram_ram2" LOC = RAMB16_X1Y14;
INST "hmcad_x4_block_inst/adc_block_gen[0].adc0_inst/data_recorder_inst/dpram_inst/Mram_ram1" LOC = RAMB16_X1Y16;
INST "hmcad_x4_block_inst/adc_block_gen[2].adc0_inst/data_recorder_inst/dpram_inst/Mram_ram1" LOC = RAMB16_X0Y12;
INST "hmcad_x4_block_inst/adc_block_gen[2].adc0_inst/data_recorder_inst/dpram_inst/Mram_ram2" LOC = RAMB16_X0Y14;
INST "hmcad_x4_block_inst/adc_block_gen[1].adc0_inst/data_recorder_inst/dpram_inst/Mram_ram1" LOC = RAMB16_X1Y12;
INST "hmcad_x4_block_inst/adc_block_gen[3].adc0_inst/data_recorder_inst/dpram_inst/Mram_ram1" LOC = RAMB16_X0Y18;
INST "hmcad_x4_block_inst/adc_block_gen[3].adc0_inst/data_recorder_inst/dpram_inst/Mram_ram2" LOC = RAMB16_X0Y16;
